page-presentateur {
  .ion-logo-google-plus:before {
    content: "\f23b";
  }

  .ion-logo-link:before {
    content: "\f22e";
  }
  .link-speacker{
    margin-right:10px;
  }
  ion-icon.link{
    font-size: 2em;
  }
}


